/*
@media screen and (max-width: 992px) {
    .container {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 576px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}
*/