* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    width: 1170px;
    margin-inline: auto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    background-color: rgb(44, 44, 50);
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-rendering: optimizeLegibility;
}

header .container {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.logo a {
    font-weight: 600;
    font-style:oblique;
}

.logo {
    align-items: center;
}

.logo img {
    width: 24px;
    height: 24px;
}

header nav {
    align-items: center;
}

.download-block {
    margin-right: -15px;
}

.download-block input {
    height: 50px;
    width: 183px;
    box-sizing: border-box;
}

.search {
    position: relative;
    align-items: center;
}

.search input {
    padding-left: 45px;
    padding-right: 10px;
    border-radius: 0;
    border: 0;

}

.search-btn {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background: transparent;
    border: 0;
}

.search img {
    height: 20px;
    width: 20px;
}

.download-btn img {
    height: 20px;
    width: 20px;
}

header .download-btn {
    height: 50px;
    align-items: center;
    gap: 5px;
    border: 0;
    background-color: rgb(0, 102, 184);
    border-radius: 0;
    padding-inline: 22px;
}

header .download-btn span {
    font-size: 16px;
    color: white;
}

.notification-block {
    background-color: rgb(37, 37, 43);
    align-items: center;
    height: 50  px;
}

.notification-block p {
    color: rgb(255, 255, 255);
    margin: 0;
    padding-block: 15px ;
    text-align: center;
}

.notification-block a {
    color: white;
    text-decoration: none;
}

.welcome-section {
    padding-block: 42px;
    background-color: rgb(44, 44, 50);
}

.welcome-section .welcome-img {
    width: 66.66666667;
}

.welcome-section .text-block {
    width: 33.33333333%;
    text-align: center;
    padding-right: 43px;
}

.text-block h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.text-block h1 span:first-child {
    font-weight: 400;
}

.text-block h1 span:last-child {
    font-weight: 900;
}

.text-block h1 span {
    display: block;
}

.text-block p {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.text-block .download-btn h5 {
    margin: 0 ;
    font-weight: bold;
    font-size: 15px;
}

.text-block .download-btn {
    background-color: rgb(66, 189, 103);
    color: rgb(230, 230, 230);
    height: 55px;
    max-width: 290px;
    margin: auto;
    margin-top: 30px;
} 

.text-block .download-btn  div:first-child {
    width: 80%;
    padding: 10px 15px;
}

.text-block .download-btn div:last-child {
    width: 20%;
    height: 100%;
    border-left: 2px solid rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

.text-block .tooltip {
    border-spacing: 25px;
    background-color: #0000001f;
    margin-top: 20px;
}

.text-block .tooltip p a {
    color: rgb(0, 152, 255);
    text-decoration: none;
}

.text-block .bottom-texts * {
    display: block;
    font-size: 12px
}

.text-block .bottom-texts a {
    color: rgb(118, 169, 228) ;
    text-decoration: none;
}

.icon-section .icon-block {
    width: 25%;
    text-align: center;
    padding-block: 30px;
}

.icon-section .icon-block:hover {
    background-color: rgb(204, 229, 235);
}

.icon-section .icon-block img {
    width: 30px;
    height: 30px;
    display: block;
    margin-inline: auto;
    margin-bottom: 15px;
}

.testimonials {
    background-color: #8080801c;
}

.testimonials .container {
    gap: 12px;
    padding-block: 40px;
    position: relative;
}

.testimonials .arrow {
    position:absolute;
    left: -40px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: 50%;
    margin-top: -20px;
}

.testimonials .arrow.right {
    left: initial;
    right: -40px;
}

.testimonials .user-card {
    width: 33.33%;
    gap: 10px;
}

.testimonials .avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.testimonials h1 {
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}

.testimonials h1 span span:first-child {
    font-weight: bold;
}

.testimonials h1 span span:last-child {
    color: #6e6e6e;
}



