.container {
    width: 1100px;
    margin-inline: auto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    background-color: #195850d6;
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header .container {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.logo {
    align-items: center;
}

.logo img {
    width: 24px;
    height: 24px;
}

header nav {
    align-items: center;
}

.download-block {
    padding-right: 20px;
}

.download-block input {
    height: 50px;
    width: 200px;
    box-sizing: border-box;
}

.search {
    position: relative;
    align-items: center;
}

.search input {
    padding-left: 45px;
    padding-right: 10px;
    border-radius: 0;
    border: 0;

}

.search-btn {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background: transparent;
    border: 0;
}

.search img {
    height: 20px;
    width: 20px;
}

.download-btn img {
    height: 20px;
    width: 20px;
}

header .download-btn {
    height: 50px;
    align-items: center;
    gap: 8px;
    border: 0;
    background-color: rgba(0, 0, 255, 0.164);
    border-radius: 0;
    padding-inline: 22px;
}

.notification-block {
    background-color: black;
    align-items: center;
    height: 27px;
}

.notification-block p {
    color: rgb(255, 255, 255);
    margin: 0;
    padding-block: 15px ;
    text-align: center;
}

.notification-block a {
    color: white;
    text-decoration: none;
}

.welcome-section .welcome-img {
    width: 70%;
}

.welcome-section .text-block {
    width: 30%;
    text-align: center;
}

.text-block h1 {
    text-align: center;
    font-size: 20px;
}

.text-block h1 span {
    display: block;
}

.text-block p {
    text-align: center;
}

.text-block .download-btn h6 {
    margin: 0 ;
}

.text-block .download-btn {
    background-color: rgb(66, 189, 103);
    color: rgb(230, 230, 230);
    height: 50px;
}

.text-block .download-btn div:first-child {
    width: 80%;
    padding: 10px 15px;
}

.text-block .download-btn div:last-child {
    width: 20%;
    height: 100%;
    border-left: 3px solid red;
    align-items: center;
    justify-content: center;
}

