body {
    min-height: 100px;
    width: 100px;
    background-color: #000;
    background-image: url(https://media3.giphy.com/media/Q34Q46x7bUUKJfbn0s/giphy.gif?cid=ecf05e47uqw3iopfl7n9sd0qcdplddftfvftaqss9z1xz9wj&rid=giphy.gif&ct=g);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    color: #fff;
    padding: 0 8%;
}

body {
    background-image: url(სურათს ვერ ვსვავ :)))
    margin: 20px;
}

h1 {
    color:rgb(37, 37, 139)
}

img {
    width: 500px;
    height: 350px;
    border-top: blue;
}

p {
    color: rgb(7, 160, 187);
    font-size: 15px;
}

a {
    padding: 1px 2px;
    }

ul,
ol {
    padding-right: 20px;
}