.diplay-inline-block {
    display: inline block;
}
.container {
    width: 800px;
    margin: auto;
}

body {
    padding: 20px;
    background-image: url(./ww-lenovo-legionUltimateSupport-bladeThree-meta.jpg);    
}

h1 {
    text-decoration: underline 3px;
    text-shadow: 0.5px 0.5px 0.5px rgb(39, 28, 194);
    color:rgb(253, 253, 253)   
}
h2 {
    color: rgb(253, 253, 253);
    text-shadow: 0.5px 0.5px 0.5px;
    text-decoration: rgb(36, 1, 236);
}

.list-1 {
    text-align: center;
    padding-bottom: 30px;
}

img {
    width: 500px;
    height: 350px;
    border-top: blue;
}

p {
    text-shadow: 1px 1px 1px rgb(36, 1, 236);
    color: rgb(255, 255, 255);
    font-size: 15px;
}

a {
    padding: 1px 2px;
    }


ul {
    padding-right: 20px;
    font-size: 16px;
}

li.active {
    color: wheat;
}

li.active-2 {
    color: white;
}



table {
    color: white;
}